@charset "UTF-8";

:root  {
    /*-----------DARK MODE--------------*/
    --cor0: #fff;
    --cor1: #61DAFB;
    --cor2: #151515;
    --cor3: #000;
    --cor4: #F2F2F2;
    --cor5: #222;
    --cor6: rgba(255,255,255,.65);
    --cor7: #2223;
}

/*-----------LIGHT MODE--------------*/
.light-mode  {
    --cor0: #000;
    --cor2: #F2F2F2;
    --cor3: #fff;
    --cor5: #fff;
    --cor6: #6D6D6D;
    --cor7: rgb(128 128 128 / .06);
}

@keyframes inicializar  {
    from  {
        opacity: 1;
        transform: translate3d(0, -60px, 0);
    }
    to  {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

body  {
    background-color: var(--cor3);
}

body > main  {
    width: 100vw;
}

header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor3);
    padding: 0 3rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 2;
}

.max  {
    height: 80px;
}
.min  { 
    height: 60px;
}

header > h1  {
    font-family: 'Berkshire Swash', cursive;
    color: var(--cor1);
}
header > h1 > span  {
    font-family: 'Berkshire Swash', cursive;
    color: var(--cor0);
}

header > div  {
    display: flex;
    gap: 2rem;
}

header > div > .nav-container  {
    display: flex;
    color: var(--cor0);
}

header > div > nav > .nav-primaria  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    height: 20px;
}

header > div > nav > .nav-primaria > li > a  {
    padding-bottom: 6px;
    padding-right: 10px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: var(--cor0);
}
header > div > nav > .nav-primaria > li > a:hover  {
    transition: all 1s;
}

nav a::after  {
    content: " ";
    width: 0%;
    height: 2.5px;
    background-color: var(--cor1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s ease-in-out;
}
nav a:hover::after  {
    width: 100%;
}

#sun  {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

section.section-div  {
    height: 100vh;
    background-color: var(--cor2);
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0 6rem;
    color: var(--cor0);
    grid-template-columns: 1fr 1fr;
    animation: inicializar .7s;
}

section.section-div > div  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
}

section.section-div > div .apresentacao  {
    grid-column: 1 / -1;
}
.apresentacao > #meuNome  {
    font-weight: 700;
    font-family: 'Berkshire Swash', cursive;
    background: linear-gradient(to left, #00E3CC, #61DAFB, #269fc0, #3cbcf7);
    background-size: 400% 100%;
    animation: textoDegrade 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes textoDegrade  {
    0%  {
        background-position-x: 0%;
    }
    100%  {
        background-position-x: 400%;
    }
}

section.section-div > div > p:first-of-type  {
    color: var(--cor6);
}

section.section-div > div > h2  {
    font-weight: 500;
}
#digitando  {
    font-weight: 700;
}

#redes-sociais  {
    font-size: 30px;
    display: flex;
    gap: 1.5rem;
    height: 50px;
    margin-top: 1.5rem;
}

#redes-sociais a:hover  {
    font-size: 40px;
    transition: all .15s;
}

#redes-sociais a:first-child  {
    color: gray;
}
#redes-sociais a:nth-child(even)  {
    color: #0077B5;
}
#redes-sociais a:last-child  {
    color: #25D366;    
}

section.section-div > div > a  {
    align-self: start;
    justify-self: start;
    padding: .4rem 1.2rem;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid var(--cor1);
    color: var(--cor0);
    margin-top: 1.5rem;
}
section.section-div > div > a:hover  {
    border-color: var(--cor0);
    background-color: var(--cor1);
}

section.section-div > img  {
    width: 70%;
    height: 80%;
    margin-top: 3rem;
}

#link-topo  {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background-color: var(--cor1);
    padding: .3rem .4rem;
    font-size: 1.7rem;
    border-radius: 5px;
    display: none;
    z-index: 100;
}

/*MOBILE*/
@media screen and (max-width: 768px)  {
    body, html  {
        overflow-x: hidden!important;
    }

    header  {
        padding: 0 1rem;
    }
    .max  {
        height: 40px;
    }

    header > div > nav > .nav-primaria  {
        display: none;
    }

    .fa-bars, .fa-x  {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 1em;
    }

    header > h1  {
        font-size: 1em;
    }

    header > div > nav > .nav-primaria.ativado  {
        position: absolute;
        display: grid; 
        top: 40px;
        height: 100%;
        z-index: 1;
        border-radius: 0 0 4px 4px;
        animation: sobeSecao .8s ease-in-out forwards;       
    }

    @keyframes sobeSecao  {
        from  {
            transition: .5s;
            transform: translate3d(60px, 0, 0);
        }
        to  {
            transform: translate3d(0, 0, 0);
        }
    }

    section.section-div  {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
    }

    section.section-div > img  {
        grid-row: 1 / 2;
        border-radius: 50%;
        width: 110%;
        height: 60%;
        border: 4px solid var(--cor1);
        padding: 4px;
        margin-top: 1rem;
    }

    section.section-div > div  {
        transform: translateY(-3rem);
    }

    #redes-sociais  {
        font-size: 30px;
        display: flex;
        gap: 2.5rem;
        height: 50px;
        margin-top: 1.5rem;
    }

    section.section-div > div > a  {
        margin-left: 2rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px)  {
    .fa-bars, .fa-x  {
        display: none;
    }
}

body, html  {
    overflow-x: hidden !important;
}

body > section  {
    width: 80%;
    margin: 0 auto;
    background-color: var(--cor2);
}