section#sobre  {
    margin: 0 auto;
}

#sobre > h2, #habilidades > h2, #projetos h2  {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    padding: 5rem 0 1rem 0;
    font-size: 2em;
    color: var(--cor1);
}

.bolinhas  {
    display: flex;
    justify-content: center;
    gap: .7rem;
    padding-bottom: 2rem;
}
.bolinhas > span  {
    border-radius: 50%;
    padding: .5rem;
}

#sobre > #infos  {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
}

#infos > #imagem-fundo  {
    grid-column: 1 / 2;
    border-radius: 4px;
    width: 100%;
    background-image: url("../img/Vandy2.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

#infos > div:nth-child(2)  {
    grid-column: 2 / -1;
    padding: 0 1.5rem;
    background-color: var(--cor2);
    display: flex;
    flex-direction: column;
}

#nome  {
    font-weight: 600;
    font-size: 1.8em;
    color: var(--cor0);
}

#mais, #menos  {
    color: gray;
    cursor: pointer;
    font-weight: 600;
}

.texto-sobre  {
    color: var(--cor0);
    margin-bottom: 2rem;
}

#nome::after{
    background-color: var(--cor1);
    height: 6px;
    width: 80px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

#form-infos  {
    display: flex;
    justify-content: space-between;
}

#formacao  {
    padding: .7rem 1rem;
    border-radius: 4px;
    background-color: var(--cor2);
    border: 2px solid var(--cor1);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    align-self: self-start;
    color: var(--cor0);
}
#formacao:hover  {
    cursor: pointer;
    border: 2px solid var(--cor0);
    color: var(--cor0);
    background-color: var(--cor1);
}

dialog::backdrop  {
    background-color: rgb(0 0 0 / .8);
}

dialog  {
    margin: auto auto;
    border-radius: .5rem;
    box-shadow: 0 0 4em rgb(0 0 0 / .8);
    width: 60%;
}

#dialog > span  {
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
    float: right;
    margin-right: .6rem;
}

#dialog > div  {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 30% 70%;
}

#dialog > div aside  {
    padding-left: 1rem;
}

#dialog > div aside h2, #dialog > div aside h3  {
    color: var(--cor1);
    font-size: 1em;
}

#dialog > div aside h2  {
    font-size: 1.25em;
}

#dialog > div aside ion-icon  {
    margin-right: 5px;
    transform: translateY(1.8px);
}

#dialog > div aside p  {
    margin-bottom: 1rem;
}

#img-diploma  {
    background-image: url("../img/jogo-da-sorte.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: yellow;
}

#mais-infos  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    color: var(--cor6);
}
#mais-infos i  {
    padding-right: .4rem;
    color: var(--cor1);
}


/*MOBILE*/
@media screen and (max-width: 320px)  {
    #dialog > span  {
        position: fixed;
        right: 20px;
    }
}

@media screen and (max-width: 768px)  {
    body > section  {
        width: 100%;
    }

    #nome  {
        display: none;
    }

    dialog  {
        width: 95%;
    }

    #dialog > span  {
        font-size: 2.1em;
    }

    #dialog > div > aside  {
        grid-column: 1 / -1;
    }

    #sobre > #infos  {
        grid-template-columns: 1fr;
    }

    #infos > div:nth-child(2)  {
        padding: 0 1rem;
    }

    #form-infos  {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

/*TABLET*/
@media screen and (min-width: 768.1px) and (max-width: 992px)  {
    body > section  {
        width: 95%;
    }

    dialog  {
        width: 95%;
    }

}