@charset "UTF-8";

:root  {
    /*-----------DARK MODE--------------*/
    --cor0: #fff;
    --cor1: #61DAFB;
    --cor2: #151515;
    --cor3: #000;
    --cor4: #F2F2F2;
    --cor5: #222;
    --cor6: rgba(255,255,255,.65);
    --cor7: #2223;
}

/*-----------LIGHT MODE--------------*/
.light-mode  {
    --cor0: #000;
    --cor2:#F2F2F2;
    --cor3: #fff;
    --cor5: #fff;
    --cor6: #6D6D6D;
    --cor7: rgb(128 128 128 / .06);
}

body  {
    background-color: var(--cor3);
}

body > main  {
    width: 100%;
    height: 100vh;
}

header  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor3);
    padding: 0 3rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.max  {
    height: 80px;
    background-color: var(--cor3);
}
.min  { 
    height: 60px;
}

header > h1  {
    font-family: 'Berkshire Swash', cursive;
    color: var(--cor1);
}
header > h1 > span  {
    font-family: 'Berkshire Swash', cursive;
    color: var(--cor0);
}

header > div  {
    display: flex;
    gap: 2rem;
}

header > div > nav > .nav-primaria  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    height: 20px;
}

header > div > nav > .nav-primaria > li > a  {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor0);
}
header > div > nav > .nav-primaria > li > a:hover  {
    font-weight: 700;
    transition: all 1s;
}

#sun  {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


section.section-div  {
    height: 100vh;
    background-color: var(--cor2);
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 0 6rem;
    color: var(--cor0);
    grid-template-columns: 1fr 1fr;
    animation: inicializar .7s;
}

section.section-div > div  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 1rem;
}

section.section-div > div .apresentacao  {
    grid-column: 1 / -1;
}

section.section-div > div > p:first-of-type  {
    color: var(--cor6);
}

section.section-div > div > h2  {
    font-weight: 500;
}
#digitando  {
    font-weight: 700;
}

#redes-sociais  {
    font-size: 30px;
    display: flex;
    gap: 1.5rem;
    height: 50px;
    margin-top: 1.5rem;
}

#redes-sociais a:hover  {
    font-size: 40px;
    transition: all .15s;
}

#redes-sociais a:first-child  {
    color: gray;
}
#redes-sociais a:nth-child(even)  {
    color: #0077B5;
}
#redes-sociais a:last-child  {
    color: #25D366;    
}

section.section-div > div > a  {
    align-self: start;
    justify-self: start;
    padding: .4rem 1.2rem;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid var(--cor1);
    color: var(--cor0);
    margin-top: 1.5rem;
}
section.section-div > div > a:hover  {
    border-color: var(--cor0);
    background-color: var(--cor1);
}

section.section-div > img  {
    width: 70%;
    height: 80%;
    margin-top: 3rem;
}

#link-topo  {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #fff;
    background-color: var(--cor1);
    padding: .3rem .4rem;
    font-size: 1.7rem;
    border-radius: 5px;
}

body > section, footer  {
    width: 80%;
    margin: 0 auto;
    background-color: var(--cor2);
}

/*--------------SOBRE--------------*/
section#sobre  {
    margin: 0 auto;
    height: 100vh;
    padding-bottom: 3rem;
}

#sobre > h2, #habilidades > h2  {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    padding: 5rem 0 1rem 0;
    font-size: 2em;
    color: var(--cor1);
}

.bolinhas  {
    display: flex;
    justify-content: center;
    gap: .7rem;
    padding-bottom: 2rem;
}
.bolinhas > span  {
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--cor1);
}

#sobre > #infos  {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: auto;
}

#infos > div > p:nth-child(2)  {
    font-weight: 600;
    color: var(--cor6);
}

#infos > div .sobre-mim  {
    margin-bottom: 1.3rem;
} 

#infos > #imagem-fundo  {
    grid-column: 1 / 2;
    border-radius: 4px;
    width: 100%;
    background-image: url("../_img/Vandy2.jpg");
    background-repeat: no-repeat;
    background-position: top;
}

#infos > div:nth-child(2)  {
    grid-column: 2 / -1;
    padding: 0 1.5rem;
    background-color: var(--cor2);
    display: flex;
    flex-direction: column;
}

#nome  {
    font-weight: 600;
    font-size: 1.8em;
    color: var(--cor0);
}

#nome::after{
    background-color: var(--cor1);
    height: 6px;
    width: 80px;
    margin: 20px 0;
    content: '';
    display: block;
    border-radius: 5px;
}

#dev  {
    display: flex;
    gap: 2rem;
}
#dev .box:first-child  {
    margin-left: 2rem;
}
#dev .box:last-child  {
    margin-right: 2rem;
}

.box  {
    display: flex;
    flex: 1 0 0;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    border-radius: 4px;
    background-color: var(--cor5);
    position: relative;
}

.box > .web  {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.web > i  {
    color: var(--cor1);
    font-size: 2.6em;
}
.web > p  {
    color: var(--cor0);
    font-weight: 500;
    font-size: 1.45em;
}
.web > button  {
    border-radius: 4px;
    align-self: start;
    margin: 0 auto;
    padding: 3px 5px;
    background-color: var(--cor1);
    color: var(--cor6)
}

#form-infos  {
    display: flex;
    justify-content: space-between;
}

#formacao  {
    padding: .7rem 1rem;
    border-radius: 4px;
    background-color: var(--cor1);
    color: var(--cor0);
    border: 2px solid var(--cor1);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    align-self: self-start;
}
#formacao:hover  {
    cursor: pointer;
    border: 2px solid var(--cor1);
    color: var(--cor0);
    background-color: var(--cor2);
}

#dialog > span  {
    color: black;
    font-weight: 600;
    font-size: 1.5em;
    cursor: pointer;
    float: right;
}
#dialog > h2  {
    padding-top: 1.7rem;
}

#mais-infos  {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    color: var(--cor6);
}
#mais-infos i  {
    padding-right: .4rem;
    color: var(--cor1);
}


/*------------------HABILIDADES------------------*/
section#habilidades  {
    padding-top: 1rem;
    background-color: var(--cor7);
    height: 100vh;
}
